<% content_for :sidebar do %>
<%= render :partial => "admin/admin_sidebar" %>
<% end %>

<h3>Przedmioty:</h3>

<table style="border-collapse: collapse;">
	<tr>
		<td width="50px">Id</td>
		<td width="250px">Nazwa</td>
		<td width="150px">Kategoria</td>
		<td width="150px">Cena</td>
		<td width="100px">Szczegóły</td>
	</tr>
	
<% @products.each do |prod| %>
<tr style="border-top:1px dashed black;">
	<td><%= prod.id %></td>
	<td><%= prod.name %></td>
	<td><%= prod.category.name %></td>
	<td><%= prod.price %></td>
	<td><%= link_to "szczegóły", admin_product_path(prod) %></td>
</tr>
<% end %>
</table>
