<% content_for :sidebar do %>
<div><h2>Wyszukiwarka</h2>
<%= link_to "Znajdź produkt", product_index_path %>
</div>
<%= render partial: "application/categories_sidebar" %>
<%= render partial: "application/cart_sidebar" %>
<% end %>

<h3>Kategoria <%= @c.name %></h3>

<% if @p.length == 0 %>
	<p>Brak przedmiotów w tej kategorii</p>
<% else %>
	<ul>Przedmioty w tej kategorii:
	<% @p.each do |p| %>
		<li><%= link_to p.name, p %></li>
	<% end %>
	</ul>
<% end %>
<%= link_to "<Wróć", root_path %>

