<% content_for :sidebar do %>
<%= render partial: "application/categories_sidebar" %>
<% end %>

<h3>Zawartość Twojego koszyka:</h3>

<table style="border-collapse: collapse;">
<tr>
<td width="300px">Produkt</td>
<td width="150px">Ilość</td>
<td width="150px">Koszt</td>
<td></td>
</tr>

<% price = 0 %>
<% @items.each do |p| %>

	<% product = Product.find(p.product_id) %>
	<% price += product.price * p.quantity %>
	<tr style="border-top: 1px dashed black; margin-top: 10px;">
		<td><%= link_to product.name, product %></td>
		<td><%= p.quantity %></td>
		<td><%= (p.quantity * product.price).round(2) %> zł</td>
		<td>
			<%= form_for product, :method => :delete do %>
			<%= submit_tag("Usuń jeden") %>
			<% end %>
			<%= form_for product do %>
			<%= submit_tag("Dodaj jeden") %>
			<% end %>
		</td>
	</tr>

<% end %>
<tr>
	<td></td>
	<td></td>
	<td><u><b>Razem: </b><%= price.round(2) %></u></td>
	<td></td>
</tr>
</table>
<br><br>

<div style="width: inherit; text-align: center; margin-bottom: 30px;">
<%= link_to "Przechodzę do zamówienia", new_cart_path %>
