<% content_for :sidebar do %>
&nbsp;
<%end%>

<table style="border-collapse: collapse;">
<tr>
<td width="200px">Produkt</td>
<td width="100px">Cena</td>
<td width="100px">Ilość</td>
<td width="100px">Koszt</td>
<td></td>
</tr>

<% price = 0 %>
<% @items.each do |p| %>
	<% product = Product.find(p.product_id) %>
	<% price += product.price * p.quantity %>
	<tr style="border-top: 1px dashed black; ">
		<td><%= product.name %></td>
		<td><%= product.price %>zł</td>
		<td><%= p.quantity %></td>
		<td><%= (p.quantity * product.price).round(2) %> zł</td>
	</tr>

<% end %>
<tr>
	<td colspan=4 style="text-align: center;"><b>Razem: <%= price.round(2)%> zł</b></td>
</tr>
</table>
<BR><BR>
	
<%= form_tag :action => "create" do %>
  <%= label_tag(:full_address, "Pełny adres wysyłki:") %>
  <%= text_area_tag(:full_address) %>
  <%= submit_tag("Zamawiam") %>
<% end %>
