<div>
<h2>Zamówienia</h2>
<%= link_to "Przeglądaj", admin_order_index_path %>	
</div>


<div>
<h2>Kategorie</h2>
<%= link_to "Przeglądaj", admin_category_index_path %><br>
<%= link_to "Dodaj", new_admin_category_path %>
</div>


<div>
<h2>Produkty</h2>
<%= link_to "Przeglądaj", admin_product_index_path %><br>
<%= link_to "Dodaj", new_admin_product_path %>
</div>
