<% content_for :sidebar do %>
<div><h2>Wyszukiwarka</h2>
<%= link_to "Znajdź produkt", product_index_path %>
</div>
<%= render partial: "application/categories_sidebar" %>
<%= render partial: "application/cart_sidebar" %>
<% end %>


<p>Dzień dobry! Sklep zaprasza!</p>
<p>Najnowsze produkty:</p>
<% @prod.each do |p| %>
<div class="product">
<h3><%= p.name %></h3>
<div style="float: left">Cena: <i><%= p.price %> PLN</i></div>
<div style="float: right;"><%= link_to "Więcej >", p %></div>
<div style="clear:both;"></div>
</div>
<% end %> 
  


